
body {
  text-align: center;
  font-family: 'Bungee', cursive;
  background-color: #212121;
}

#game-text {
  font-size: 4rem;
  color: #14FFEC;
}

.container {
  display: block;
  width: 430px;
  border: solid 10px #212121;
  margin: auto auto 50px;
  padding: 2px;
}

.btn {
  display: inline-block;
  margin-bottom: 3px;
  height: 120px;
  width: 120px;
  border: 10px solid #0D7377;
  font-size: 6.5rem;
  color: #14FFEC;
  font-family: 'Fredoka One', cursive;
}

.start-btn {
  font-size: 3rem;
  border: 10px solid #14FFEC;
  color: #14FFEC;
  font-family: 'Bungee', cursive;
}

.hovered-over {
  color: white;
  background-color: #14FFEC;
}
